{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<div class=" flex flex-row justify-between items-center mb-10">
    <div class=" flex flex-col justify-center items-center p-8">
        <h1 class="text-3xl">BetBunk</h1>
        <h2 class="text-2xl">Pariez sur nos Quizz !</h2>
    </div>

    <div class="w-64 h-36 bg-slate-100 dark:bg-dark-300 flex flex-col justify-center items-center p-8 rounded-lg">
        <h2 class="font-bold">Quizz</h2>
        <p>{{numberOfQuiz}} quizz sur note site</p>
    </div>
</div>

<div class="mb-10">
    <div>
        <h2 class="font-bold">Un Quiz aléatoire</h2>
    </div>
    <a href="/quiz/play/{{randomQuiz.id}}" class="cardQuizz w-3/4 max-w-3xl">
            <div>
                <img src='{{randomQuiz.thumbnail}}' alt='{{ randomQuiz.title }}'/>
            </div>
            <div>
                <h3>{{ randomQuiz.title }}</h3>
                <p>{{ randomQuiz.description }}</p>
            </div>
        </a>
</div>

<div class="mb-10">
    <div>
        <h2 class="font-bold">Quelques Quizz</h2>
    </div>
    {% for quiz in quizzes %}
        <a href="/quiz/play/{{quiz.id}}" class="cardQuizz w-3/4 max-w-3xl">
            <div>
                <img src='{{quiz.thumbnail}}' alt='{{ quiz.title }}'/>
            </div>
            <div>
                <h3>{{ quiz.title }}</h3>
                <p>{{ quiz.description }}</p>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}
