{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block
body %}

<main class="container py-5">
  <h1 class="text-2xl mb-4">Créer un compte</h1>

  {{ form_start(registrationForm) }}
  <div class="block">
    {{
      form_row(registrationForm.email, {
        attr: { class: "form-field" },
        label: "Adresse email"
      })
    }}
    {{
      form_row(registrationForm.username, {
        attr: { class: "form-field" },
        label: "Nom d'utilisateur"
      })
    }}
    {{
      form_row(registrationForm.plainPassword, {
        attr: { class: "form-field" },
        label: "Password"
      })
    }}
    <div class="my-4">
      {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-checkbox'}, label: 'J\'ai lu et j\'accepte les conditions générales d\'utilisation',
        }) }}
    </div>

    <button type="submit" class="btn">S'enregister</button>
  </div>

  {{ form_end(registrationForm) }}
</main>

{% endblock %}
